@import url("style.css");
#home {
  background: url("img/group.jpg") no-repeat center center fixed;
  width: 100%;
  height: 100%;
  background-size: cover;
  display: table;
  position: relative;
}
#fixed {
  margin-top: 80px;
}
