/*Generell*/
html, body{
  width: 100%;
  height: 100%;
}
/*Nav-Bar*/
.navbar-dark {
  background-color: #404040;
  padding: 1% 0;
  font-size: 1.5rem;
}
.navbar-brand {
  padding:15px 15px 15px 15px;
}

/*headline als Teil der Nav-Bar*/
.headline {
  display: table-cell;
  text-align: center;
  vertical-align: middle;
}
.headline .display-line {
  width: 70%;
  margin: auto;
  border-bottom: 3px solid white;
  padding-bottom: 2px;
}
.headline .fas {
  background-color: white;
  margin: 0 40%;
  text-align: center;
  vertical-align: middle;
  padding: 5px 15px;
  bottom: 18px;
  font-size: 1.2rem;
}
.headline h1{
  font-family: 'Josefin Slab', serif;
  font-size: 500%;
  color: white;
}
.headline h3 {
  font-family: 'Jura', sans-serif;
  font-weight:100;
  color: white;
}
/*home-Section für Hintergrundbild unter der Nav-Bar*/
#home {
  background: url("img/stock-photo-166104109.jpg") no-repeat center center fixed;
  width: 100%;
  height: 100%;
  display: table;
  background-size: cover;
  position: relative;
}
/*aboutMe-Section*/
.aboutMe img {
  margin: auto;
  width: 400px;
}
.aboutMe {
  padding-top: 80px;
  margin-bottom: 80px;
}
/*skills-section*/
.skills h2 {
  margin-bottom: 40px;
}
.skills img {
  margin: auto;
  width: 200px;
}
.skills {
  margin-bottom: 80px;
}
/*Scrum-Hintergrundbild als Preview für academy-section*/
#fixed {
  background: url("img/scrum.jpg")no-repeat center center fixed;
  width: 100%;
  display: table;
  height: 400px;
  background-size: cover;
  position: relative;
}
/*Academy-Section*/
.Academy, #fixed {
  padding: 80px 0;
}
.Academy .btn-success {
  background-color: #049A78;
  padding: 1% 3%;
  font-size: 1.5rem;
  margin-left: 80px;
  margin-top: 25px;
}
.Academy img {
  padding-top: 200px;
  margin-left: 80px;
}
/*footer welcher als Contact-Section dient*/
footer {
  width: 100%;
  background-color: #404040;
  padding: 5% 5% 10% 5%;
  color: #FFF;
}
footer .btn a{
  color: white;
  text-decoration: none;
}
footer .btn a:hover{
  color: black;
  text-decoration: none;
}
.fab  {
  color: white;
  padding: 15px;
  min-width: 50px;
  max-width: 200px;
}
.fab:hover {
  color: #049A78;
  text-decoration: none;
}


/*für mobile wichtig! */
@media (max-width: 768px) {
  .navbar-nav a {
    margin-left: 15px;
  }
  .headline h1 {
    font-size: 300%;
  }
  .fab {
    font-size: 20px;
    padding: 10px;
  }
  .fas, .fa-cog {
    display: none;
  }
  .Academy img {
    width: 250px;
  }
  .skills img {
    margin-left: 80px;
    width: 170px;
  }
  footer .padding {
    padding-top: 15px;
  }
  .Academy .padding img{
    padding-top: 15px;
    padding-bottom: 20px;
    margin:0;
  }
  .Academy .btn-success {
    margin: 0;
  }
}
